@model emarket.Models.Users
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("userRegister", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <!DOCTYPE html>
        <html>
        <head>
            <style>

                * {
                    margin: 0;
                    padding: 0;
                }

                .container {
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                    margin: 0px;
                }

                html, body {
                    margin: 0;
                    height: 100%;
                    background-size: cover;
                }

                .mainbody {
                    text-align: center;
                    height: 100%;
                    width: 100%;
                }

                table, body {
                    font-family: 'Monaco', monospace;
                    color: black;
                    font-size: 20px;
                    font-weight: bold;
                }

                    table.ShopTable {
                        background-color: transparent;
                        border-width: 0px;
                        border: none;
                    }

                tr.ShopTable {
                    height: 180px;
                }

                .inputvalidate {
                    font-size: 15px;
                    color: crimson;
                }

                .inputtextbox {
                    padding: 10px 35px;
                    border-width: 0px;
                    border: none;
                    background-color: white;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    border-radius: 25px;
                    margin: 20px;
                }
            </style>
        </head>
        <body style="background-image: url('https://bit.ly/3gIAWfp')" >
            <div class="mainbody">
                <h2 style="margin:4%;"><span style="color:white;">Create your new free account.</span></h2>
                <table class="ShopTable" style="width: 35%; height: 180px; margin-left: auto; margin-right: auto;">
                    <tr class="ShopTable">
                        <td style="width: 100%; height: 18px;">
                            @Html.TextBoxFor(usr => usr.FirstName, new { @class = "inputtextbox", @placeholder = "First Name" })<br>
                            @Html.ValidationMessageFor(usr => usr.FirstName, "", new { @class = "inputvalidate" })<br>

                            @Html.TextBoxFor(usr => usr.LastName, new { @class = "inputtextbox", @placeholder = "Last Name" })<br>
                            @Html.ValidationMessageFor(usr => usr.LastName, "", new { @class = "inputvalidate" })<br>

                            @Html.TextBoxFor(usr => usr.Phone, new { @class = "inputtextbox", @placeholder = "Phone Number" })<br>
                            @Html.ValidationMessageFor(usr => usr.Phone, "", new { @class = "inputvalidate" })<br>

                            @Html.PasswordFor(usr => usr.Password, new { @class = "inputtextbox", @placeholder = "Password" })<br>
                            @Html.ValidationMessageFor(usr => usr.Password, "", new { @class = "inputvalidate" })<br>

                            @Html.PasswordFor(usr => usr.ConfirmPassword, new { @class = "inputtextbox", @placeholder = "Confirm Password" })<br>
                            @Html.ValidationMessageFor(usr => usr.ConfirmPassword, "", new { @class = "inputvalidate" })<br>

                            @Html.TextBoxFor(usr => usr.Email, new { @class = "inputtextbox", @placeholder = "example@gmail.com" })<br>
                            @Html.ValidationMessageFor(usr => usr.Email, "", new { @class = "inputvalidate" })<br>
                        </td>
                    </tr>
                </table>
                <input style="margin-top:2%;" type="submit" value="Δημιουργία Λογαριασμού" class="inputtextbox" />
                <p style="color: white;
                          margin-top: 35px;
                          background-color: red;
                          width: fit-content;
                          display: block;
                          margin-left: auto;
                          margin-right: auto;">@ViewBag.myString</p>
                        
                    </div>
                </body>
            </html>
        }